.sticky-navigation {
    width: 40px;
    height: 200px;
    position: sticky;
    top: 20%;
    left: 50px;
    background-color: #222222;
    border-radius: 15px;
}

.sticky-navigation ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}