.simple-search {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    display: flex;
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.advanced-search {
    width: 100%;
    padding: 0 10px;
    display: flex;
    background-color: #222222;
    border-radius: 20px;
    justify-content: space-evenly;
    text-align: center;
}

.btn-search {
    background-color: #222222;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: ubuntu-bold;
}

.simple {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-input {
    display: block;
    margin: 10px;
}

.icon-search {
    width: 20px;
    height: 20px;
}

.volumen {
    width: 90%;
    height: 25px;
    margin: 0 10px;
    padding: 5px;
    border-radius: 17px;
    border: none;
    font-family: ubuntu-bold;
}


.logo {
    width: 800px;
    height: 400px;
    margin: 90px auto;
    display: flex;
}

.ad-field {
    width: 400px;
    height: 20px;
    margin: 0 3px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-family: ubuntu-bold;
}

/* loader */
.lds-hourglass {
  display: inline-block;
  position: absolute;
  top: 40vh;
  left: 50vw;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
